.form {
  &-group {
    margin: 1.2rem 0;
  }

  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  select,
  textarea {
    font-family: $body-font;
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: $dark-color;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $dark-color inset;
      box-shadow: 0 0 0 1000px $dark-color inset;
      -webkit-text-fill-color: #fff;

      &::first-line {
        font-family: $body-font;
        font-size: 1rem;
      }
    }
  }
}
